/* Definimos los colores basados en el logo */
:root {
    --color-primario: #2D9CDB;
    --color-secundario: #56CCF2;
    --color-fondo: #d0f2f8;
    --color-texto: #333333;
  }
 
  .card-custom {
    background-color: var(--color-fondo);
    border: 2px solid var(--color-primario);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .card-custom:hover {
    transform: scale(1.05);
  }
  
  .card-custom .card-title {
    color: var(--color-primario);
  }
  
  .card-custom .card-text {
    color: var(--color-texto);
  }
  
  .btn-custom {
    background-color: var(--color-primario);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .btn-custom:hover {
    background-color: var(--color-secundario);
  }
  